/* Dialog content styling for ViewAndVoteDialog */

.dialogContent {
    background-color: white;
    padding: 20px;
    width: 100%;
    max-width: 700px; /* Increased width for better user experience */
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 90vh;
    overflow-y: auto;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: black;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .option {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .signatureContainer {
    margin-top: 20px;
    text-align: center;
  }
  
  .buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .dialogButton {
    font-size: 16px;
    padding: 12px 20px; /* Larger padding for easier click */
    width: 48%;
    color: white;
    border: none;
    border-radius: 6px; /* Consistent rounded corners */
    height: 45px;
}

.dialogButton:hover {
    opacity: 0.9;
  }
  
  .bgGreen {
    background-color: green;
  }
  
  .bgGray {
    background-color: gray;
  }
  
