.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.inputGroup {
  margin-bottom: 16px;
}

.inputGroup input {
  width: 160px;
  height: 36px;
  padding: 6px;
  background-color: black;
  color: white;
  border: 1px solid gray;
  font-size: 15px; /* Text size 15px */
}

.inputGroup input:focus {
  border-color: white;
}

.signin-button {
  margin-top: 10px;
  width: 160px;
  padding: 10px;
  background-color: black;
  color: white;
  border: 1px solid gray;
  text-align: center;
}

.signin-button:hover {
  background-color: #333;
}

/* Define the fade-out effect */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Define the move-to-center animation */
@keyframes moveToCenter {
  from {
    transform: translateX(-50%) translateY(-50%);
  }
  to {
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
}

/* Apply fade out to the elements when triggered */
.fadeOut {
  animation: fadeOut 1s forwards;
}

/* Apply move-to-center animation */
.centerHeader {
  animation: moveToCenter 1s forwards;
}
