.createPollContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .createPollContainer h2 {
    margin-top: 0;
  }
  
  .createPollContainer form {
    margin-top: 20px;
  }
  
  .createPollContainer label {
    display: block;
    margin-bottom: 10px;
  }
  
  .createPollContainer input, .createPollContainer textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
  }
  
  .createPollContainer button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .createPollContainer button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .createPollContainer button {
    background-color: #fff;
    color: #4CAF50;
    padding: 10px 20px;
  }